.git
.github
.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
.coverage.*
coverage.xml
htmlcov
.DS_Store
.env
.env.*
.vscode
.idea
runtime
credentials
Bot%20Main%20file%20and%20utlities
